.products-layout {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
}

.filter-section {
  flex: 0 0 250px;
  background-color: var(--text-light);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group h4 {
  color: var(--primary-dark);
  margin-bottom: 10px;
  font-size: 14px;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category-item {
  padding: 10px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s;
}

.category-item:hover {
  background-color: #e0e0e0;
}

.category-item.active {
  background-color: var(--primary-main);
  color: white;
  font-weight: bold;
}

.price-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.price-inputs input {
  width: 80px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.price-inputs span {
  font-weight: bold;
}

.filter-heading {
  color: var(--primary-dark);
  margin-bottom: 10px;
}

.filter-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-section li {
  margin: 10px 0;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  border-radius: 4px;
  color: var(--border-color);
}

.filter-section li:hover {
  background-color: #efefef;
}

.filter-section li.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.reset-filters-btn {
  padding: 10px 15px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.reset-filters-btn:hover {
  background-color: #5a6268;
}

.products-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products-product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--primary-main);
  color: white;
}

.pagination button.active {
  background-color: var(--primary-main);
  color: white;
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.no-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-primary);
}


@media (max-width: 768px) {
  .products-layout {
    flex-direction: column;
  }

  .filter-section {
    width: 100%;
  }
}